$primary:#06b98d;
$secondary: #081828;

$font-size-root: 13px;
$btn-border-radius:   2rem;
$font-family-sans-serif: 'poppins', sans-serif;
$body-bg: #fafafa;
$nav-link-color: $primary;
$nav-link-hover-color: $primary;        
