@use '../variables' as *;
@use '../custom' as *;


.profile {

	.card {
		padding: 0.5rem;

		:is(h3,h4) {
		color: $primary;
		}

		a {
		  color: $primary;
		}

		.social-links {

			a {
			margin-right: 0.875rem;
		    transition: 0.3s;
			}
		}
	}


}