@use '../variables' as *;
@use '../custom' as *;



/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
  // position: fixed;
  left: 0;
  bottom: 0;
  z-index: 996;
  transition: all 0.3s;
  scrollbar-width: thin;
  scrollbar-color: $primary transparent;
  background-color: $gray-100;
  min-height: 100vh;
  transition: left 0.3s ease;
  color: white;
  overflow-y: auto;


  .nav-item {
      

      .icon {
        font-size: 1.2rem;
        color: $primary;

        @media (min-width: 768px) {
          font-size: 1.8rem;
        }
        
      } 

    }
  }


  
.form {
  padding: 0 1rem;
}
  
  