@use '../custom' as *;
@use '../variables' as *;


/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
	margin-top: 60px;
	padding: 20px 30px;
	transition: all 0.3s;
  }
  
  @media (max-width: 1199px) {
	#main {
	  padding: 20px;
	}
  }
  
  /*--------------------------------------------------------------
  # Page Title
  --------------------------------------------------------------*/
  .pagetitle {
	margin-bottom: 10px;
  }
  
  .pagetitle h1 {
	font-size: 24px;
	margin-bottom: 0;
	font-weight: 600;
	color: $primary;
  }

/* Breadcrumbs */
.breadcrumb {
	font-size: 14px;
	font-family: "Nunito", sans-serif;
	color: #899bbd;
	font-weight: 600;
  }
  
  .breadcrumb a {
	color: #899bbd;
	transition: 0.3s;
  }
  
  .breadcrumb a:hover {
	color: #51678f;
  }
  
  .breadcrumb .breadcrumb-item::before {
	color: #899bbd;
  }
  
  .breadcrumb .active {
	color: #51678f;
	font-weight: 600;
  }
  
  /* Bordered Tabs */
  .nav-tabs-bordered {
	border-bottom: 2px solid #ebeef4;
  }
  
  .nav-tabs-bordered .nav-link {
	margin-bottom: -2px;
	border: none;
	color: #2c384e;
  }
  
  .nav-tabs-bordered .nav-link:hover,
  .nav-tabs-bordered .nav-link:focus {
	color: #4154f1;
  }
  
  .nav-tabs-bordered .nav-link.active {
	background-color: #fff;
	color: #4154f1;
	border-bottom: 2px solid #4154f1;
  }